:host {
  display: block;
  margin-bottom: 24px;
}

form {
  display: flex;
  gap: 8px;
  align-items: center;
}

input {
  min-height: 36px;
  padding: 0 8px;
}

button {
  min-height: 38px;
  padding: 0 16px;
  cursor: pointer;
}

@media (max-width: 600px) {
  form {
    flex-direction: column;
    align-items: stretch;
  }
}
